body
{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    margin: 0 auto;
    padding: 0;

    text-transform: uppercase;

    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #dcdcdc,
    0 -39px 0 40px #f2f2f2;
}
.index-body
{
    max-width: 1200px;
    margin: 0 auto;
}
.hotels-body
{
    max-width: 1200px;
    margin: 0 auto;
}
a
{
    text-decoration: none;
}
.button
{
    font: inherit;
    font-weight: bold;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
}
.list
{
    margin: 0;
    padding: 0;

    list-style-type: none;
}
.page-header
{
    position: relative;
    z-index: 2;

    height: 56px;

    background-color: #fff;
}

.main-nav
{
    display: flex;

    width: 1200px;
    height: inherit;

    justify-content: space-between;
}

.site-navigation
{
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: space-between;
}
.site-navigation li
{
    font-weight: 700;

    width: 239px;
}
.site-navigation li:first-child
{
    order: -4;
}
.site-navigation li:nth-child(2)
{
    order: -3;
}
.site-navigation li:last-child
{
    width: 244px;

    order: -2;
}

.site-navigation li,
.index-container
{
    text-align: center;
}
.site-navigation a,
.hotel-more-info
{
    color: #000;
}
.site-navigation a:hover,
.hotel-more-info:hover
{
    color: #83b5d3;
}
.site-navigation a:active,
.hotel-more-info:active
{
    color: #d1d1d1;
}
.site-navigation .active
{
    color: #776356;
}
.slogan,
.advantage,
.search-hotel,
.hotel-label
{
    font-size: 21px;
}
.welcome
{
    position: relative;
    z-index: 2;

    display: block;

    margin-top: 76px;
    margin-right: auto;
    margin-left: auto;
}
.slogan-container
{
    z-index: 3;

    display: flex;
    flex-direction: column;

    min-height: 216px;
    margin-top: 79px;
}
.slogan
{
    width: 440px;
    min-height: 48px;
    margin-top: 61px;
    margin-bottom: 26px;
    margin-left: 380px;
    padding: 0;
}
.sedona-better
{
    width: 489px;
    margin: 0;
    margin-left: 355px;
    padding: 0;
}
.reasons-num
{
    display: flex;

    width: auto;
    min-height: 1000px;
    margin-bottom: 51px;

    text-align: auto;

    flex-wrap: wrap;
    justify-content: space-between;
}

.reasons-num li
{
    line-height: 21px;

    width: 400px;
    min-height: 256px;

    background-color: #efefef;
}
.reasons-num li:first-child
{
    order: -2;
}
.reasons-num li:nth-child(6)
{
    order: -1;
}

.town-merits
{
    display: flex;

    width: inherit;
}

.town-merits li
{
    line-height: 21px;
    background-color: #ffff;
    width: 400px;
    min-height: 169px;
    padding-top: 161px;
}
.reasons-num .first-reason,
.reasons-num .second-reason
{
    display: flex;

    width: 1200px;

    color: #fff;
    background-color: #81b3d2;

    justify-content: space-between;
}
.reasons-num .second-reason
{
    flex-direction: row-reverse;
}
.first-liner
{
    width: 280px;
    min-height: 146px;
    margin-top: 46px;
    margin-left: 60px;
}
.second-liner
{
    width: 303px;
    min-height: 142px;
    margin-top: 49px;
    margin-right: 49px;
}
.reasons-num li:nth-child(6)
{
    width: 1200px;
    min-height: 330px;
}


.interest
{
    line-height: 24px;

    min-height: 96px;
    margin: 0 auto;
    margin-bottom: 49px;
}
.interest-question
{
    font-size: 30px;
    line-height: 36px;

    display: block;

    margin-bottom: -1px;
}
.check-in
{
    margin-bottom: 64px;
}

.check-in-form
{
    box-sizing: border-box;
    width: 568px;
    min-height: 395px;
    margin: 0 auto;
    padding: 55px;

    align-items: center;
}
.check-in-form input[type=text]
{
    font: inherit;
    font-weight: bold;

    text-transform: uppercase;

    border: none;
    background-color: #f2f2f2;
}
.date-field
{
    width: 346px;
    height: 38px;
}
.age-field
{
    width: 38px;
    height: 38px;

    text-align: center;
}
.check-in-form input[type=text]:hover
{
    background-color: #ececec;
}
.check-in-form input[type=text]:focus
{
    outline: 3px solid #e6e6e6;
    background-color: #fff;
}
.search-hotel
{
    font-weight: bold;

    width: 568px;
    height: 86px;

    border: none;
    background-color: #766357;
}
.search-hotel:hover,
.btn-reg:hover
{
    background-color: #604d41;
}
.search-hotel:active,
.btn-reg:active
{
    color: #938b86;
    background-color: #4f3c30;
}
.search-btn
{
    font-size: 21px;

    width: 458px;
    height: 58px;

    background-color: #82b4d3;
}
.btn-info:hover,
.search-btn:hover,
.social-button a:hover
{
    background-color: #669fc1;
}
.search-btn:active,
.social-button a:active,
.btn-info:active
{
    color: #95bad3;
    background-color: #5397be;
}
.btn-info
{
    line-height: 21px;

    display: inline-block;

    width: 110px;
    height: 27px;

    background-color: #81b3d2;
}
.btn-reg
{
    line-height: 21px;

    display: inline-block;

    width: 142px;
    height: 27px;
    margin-left: 2px;

    background-color: #776356;
}
.page-footer
{
    display: flex;

    height: 120px;
    padding-right: 101px;
    padding-left: 132px;

    background-color: rgba(255, 255, 255, .5);

    align-items: center;
    justify-content: space-between;
}
.hashtag
{
    font-size: 21px;
    font-weight: bold;

    text-transform: uppercase;
}
.social-num
{
    display: flex;

    width: 150px;
    height: 48px;
    margin-left: 33px;

    justify-content: space-between;
}
.social-button
{
    width: 46px;
    height: inherit;

    background-color: #82b4d3;
}
.social-button a
{
    display: block;

    width: inherit;
    height: inherit;

    background-repeat: no-repeat;
    background-position: center center;
}


.tw
{
    background-image: url(../img/twitter.svg);
}
.fb
{
    background-image: url(../img/fb-icon.svg);
}
.yt
{
    background-image: url(../img/youtube.svg);
}
.tw:active
{
    display: block;

    width: inherit;
    height: inherit;

    background-image: url(../img/freq-tw.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.fb:active
{
    width: inherit;
    height: inherit;

    background: url(../img/freq-fb.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.yt:active
{
    width: inherit;
    height: inherit;

    background: url(../img/freq-yt.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.footer-copyright
{
    display: flex;

    width: 200px;
    height: inherit;

    justify-content: space-between;
    align-items: center;
}
.footer-copyright b
{
    position: relative;
    left: 3px;

    display: block;

    text-transform: uppercase;
}
.copyright-logo
{
    display: block;

    width: 115px;
    height: 41px;

    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.copyright-logo:hover
{
    display: block;

    background-image: url(../img/blue-htmllogo.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.copyright-logo:active
{
    display: block;

    background-image: url(../img/gray-htmllogo.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.rating
{
    line-height: 21px;

    display: inline-block;

    width: 110px;
    height: 27px;
    margin-top: 50px;

    text-align: center;

    color: #949494;
    background-color: #f2f2f2;
}
.stars
{
    display: block;

    letter-spacing: 3px;

    background-image: url(../img/star.svg);
    background-repeat: repeat-x;
}
.four
{
    width: 73px;
}
.three
{
    width: 53px;
}
.two
{
    width: 36px;
}
.hotel-filter-form
{
    display: flex;

    padding: 31px 74px 31px 72px;

    justify-content: space-between;
}
.fieldset-infra
{
    width: 140px;
}
.fieldset-type
{
    width: 136px;
}
.fieldset-price
{
    width: 314px;

    text-align: center;
}
.filter-submit
{
    width: 137px;
    height: 36px;

    border: 2px solid gray;
    border-radius: 2px;
    background-color: lightgray;
}
.unit-list
{
    box-sizing: border-box;
    height: 453px;
}
.unit-list li
{
    display: flex;

    box-sizing: border-box;
    height: 151px;
    padding: 30px 72px;

    border-top: 1px solid #e6e6e6;

    justify-content: space-between;
}
.unit-list li:last-child
{
    border-bottom: 1px solid #e6e6e6;
}
.unit-descrip-block
{
    display: flex;

    width: 423px;
}
.unit-descrip
{
    width: 258px;
    height: 90px;
    margin-left: 30px;
}
.unit-descrip h3
{
    margin-top: -5px;
    padding: 0;
}
.unit-tp
{
    margin-top: -17px;
    margin-bottom: 12px;
}
.unit-tp .hotel-type
{
    margin-right: 34px;
}
.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}


/*.index-body::before {
  content: "";

  display: block;
  position: absolute;
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;

  top: -26px;

  width: 1200px;
  height: 800px;

  z-index: 1;
}

.index-container::before {
  content: "";

  position: absolute;
  display: block;

  background-image: url(../img/intro-mask.svg);
  background-repeat: no-repeat;

  top: 507px;

  width: 1200px;
  height: 59px;

  z-index: 2;
}

*/
